<ion-header>
  <ion-toolbar color="primary">
    <ion-title>TodoIst</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-backdrop *ngIf="showTaskInput" [visible]="showTaskInput" (ionBackdropTap)="showTaskInput = false"></ion-backdrop>

  <ion-list>
    <ion-list-header>
      <ion-label>Proyectos</ion-label>
      <ion-button (click)="addCategory()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-list-header>

  </ion-list>

  <ion-item *ngFor="let project of projects">
    <ion-label>{{ project.name }}</ion-label>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showTaskInput = true">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
<ion-footer *ngIf="showTaskInput">

  <ion-datetime displayFormat="MM DD YY" [(ngModel)]="task.due" #due></ion-datetime>


  <ion-row>
    <ion-col size="12">
      <ion-input type="text" autofocus="true" [(ngModel)]="task.name" placeholder="adicionar tarea"
        class="ion-padding-left"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="10">


      <ion-button (click)="openProjectPopover($event)" fill="outline" size="small">
        <div class="color-preview-small" slot="start" [style.background]="task.project?.color" *ngIf="task.project">
        </div>
        {{ task.project ? task.project?.name : 'Inbox' }}
      </ion-button>

      <ion-button (click)="selectDue()" fill="outline" size="small">
        {{ task.due | date }}
      </ion-button>

      <ion-button (click)="openPriorityPopover($event)" fill="outline" size="small">
        <ion-icon slot="icon-only" name="flag" [style.color]="getTaskColor()"></ion-icon>
      </ion-button>


    </ion-col>
    <ion-col class="ion-no-padding ion-text-right" size="2">
      <ion-button (click)="saveTask()" fill="clear" shape="round">
        <ion-icon slot="icon-only" name="arrow-up-circle-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

</ion-footer>