<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="close()">
        Cancelar
      </ion-button>
    </ion-buttons>

    <ion-title>newProjectModal</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="save()" [disabled]="newProject.name === ''" >
        <ion-icon slot="start" name="add"></ion-icon>
        Guardar
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">El nombre de tu proyecto</ion-label>
    <ion-input [(ngModel)]="newProject.name"></ion-input>
  </ion-item>

  <ion-item button (click)="showColors = !showColors" detail="false"  class="ion-padding-bottom">
    <ion-label>Color</ion-label>
    <div class="color-previw" slot="end"  [style.background]="newProject.color"></div>
  </ion-item>

  <color-circle  *ngIf="showColors" width="100%" [color]="newProject.color" (onChange)="colorSelected($event)"></color-circle>



</ion-content>